.swp
.idea
/*.lock
*-lock.json
/aws-mfa.json
/dist
node_modules
.env
/docker-compose.yml
/Dockerfile
/Dockerfile.local
/Dockerfile.development
/Dockerfile.production
/jest.config.js
/babel.config.js
.DS_Store
.env.*

asset/structurizr/graphviz
asset/structurizr/images
asset/structurizr/logs
asset/structurizr/eula.*
asset/structurizr/.structurizr/